body {
  width: 100vw;
}

.wrapper {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* explicit columns and rows use these two */
  grid-template-rows: 150px;
  grid-auto-rows: 200px; /* implicit (overflow) rows and columns use auto*/
}

.item {
  background-color: rgb(2, 196, 196);
  border: solid 1px black;
  text-align: center;
  padding: 1em;
}

.box-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

hr {
  margin: 2em 0;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* explitely there are two columns  */
  grid-auto-flow: column; /* instead of overflowing into rows overflow into columns */
  grid-auto-columns: 20%; /* manually adjust overflow */
}

/* Sub Grids */
.nested {
  border: solid 1px black;
  padding: 2em;
}
