<svg class="w-8 h-8 shrink-0 overflow-visible" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">

    <rect x="12" y="22" width="8" height="6" rx="1"
          class="fill-earth-600 transition-colors duration-500 group-hover:fill-earth-500"></rect>

    <rect x="12" y="14" width="8" height="6" rx="1.5"
          class="fill-earth-400 transition-all duration-500 group-hover:fill-bamboo-600 group-hover:-translate-y-1"></rect>

    <rect x="12" y="6" width="8" height="6" rx="2"
          class="fill-bamboo-500 transition-all duration-500 ease-out group-hover:-translate-y-2 group-hover:fill-bamboo-400"></rect>

    <g class="origin-bottom transition-all duration-500 ease-out scale-0 opacity-0 group-hover:scale-100 group-hover:opacity-100 group-hover:-translate-y-2">
        <path d="M12 8 C 8 8, 4 4, 4 0 C 8 0, 12 4, 12 8"
              transform="translate(0, 0)"
              class="fill-bamboo-400"></path>
        <path d="M20 8 C 24 8, 28 4, 28 0 C 24 0, 20 4, 20 8"
              transform="translate(0, 0)"
              class="fill-bamboo-300"></path>
    </g>

    <path d="M16 22V6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          class="text-white/20 -z-10 group-hover:opacity-0 transition-opacity duration-300"></path>

</svg>