<nav class="fixed w-full z-50 top-0 start-0 border-b border-earth-50/10 bg-stone-900/80  backdrop-blur-md">

    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2 md:p-4">

        <!-- Brand Logo and Name -->
        <a href="{% url 'pages:index' %}" class="flex items-center space-x-3 group">
            {% include "components/brand_logo.html" %}

            <span class="self-center sm:text-lg md:text-2xl font-semibold tracking-tight text-earth-200">
                Bamboo<span class="text-bamboo-400">Tenders</span>
            </span>
        </a>

        <!-- Hamburger Menu for Mobile -->
        <button data-collapse-toggle="navbar-sticky" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-gray-400 rounded-lg md:hidden hover:bg-stone-700 focus:outline-none focus:ring-2 focus:ring-stone-600"
                aria-controls="navbar-sticky" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            {% include 'components/svg_components/hamburger_menu.html' %}
        </button>

        <!-- Navigation Links -->
        <div class="hidden w-full md:block md:w-auto" id="navbar-sticky">
            <ul class="flex flex-col mt-4 md:mt-0 md:flex-row md:space-x-8 font-medium
                       p-4 md:p-0 border border-white/10 rounded-lg bg-stone-800 md:bg-transparent md:border-0">

                <!-- link_class is a context variable for styling -->
                {% with link_class="block py-2 px-3 rounded md:p-0 text-earth-200 hover:text-bamboo-400 transition-colors" %}

                    <li><a href="{% url 'pages:index' %}" class="{{ link_class }}">Home</a></li>
                    <li><a href="{% url 'supply_chain:projects' %}" class="{{ link_class }}">Tenders</a></li>
                    <li><a href="{% url 'supply_chain:councils' %}" class="{{ link_class }}">Councils</a></li>
                    <li><a href="{% url 'pages:about' %}" class="{{ link_class }}">About</a></li>

                {% endwith %}
            </ul>
        </div>

    </div>
</nav>