@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Jura", sans-serif;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #333;
}

.navbar li {
    margin: 0;
}

.navbar li.navbar-right {
    margin-left: auto;
}

.navbar-left {
    display: flex;
}

.navbar li {
    margin: 0;
}

.navbar-right {
    margin-left: auto;
    justify-self: flex-end;
}


.navbar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    transition: background 0.2s;
}

.navbar a:hover {
    background: #555;
}

.container {
    background: hsl(0, 9%, 98%);
    min-height: 400px;
    padding: 2em 2em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #f1f1f1;
    color: #333;
    margin-top: 2em;
}

.answer_required {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 0.9em;
  color: #555;
}

.top_message {
  margin-bottom: 2em;
}


/* html page */
#html .card {
  background-color:#ebfffc ;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  color: #363636;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}

#html .card-header {
  background-color: #00d1b2;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 4px 4px 0 0;
  color: #363636;
  font-weight: 700;
  padding: 0.75em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#html .card-body {
  padding: 1em 1em;
  color: #4a4a4a;
}

#html > h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-bottom: #222525 2px solid;
  font-size: 2.5em;
  color: #333;
  margin-bottom: -0.3em;
}

/* css page */
#css .card {
  background-color:#ebf9ff ;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  color: #363636;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}

#css .card-header {
  background-color: #66d1ff;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 4px 4px 0 0;
  color: #363636;
  font-weight: 700;
  padding: 0.75em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#css .card-body {
  padding: 1em 1em;
  color: #4a4a4a;
}

#css > h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-bottom: #222525 2px solid;
  font-size: 2.5em;
  color: #333;
  margin-bottom: -0.3em;
}

/* js page */
#js .card {
  background-color:#fff5e6 ;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  color: #363636;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}           

#js .card-header {
  background-color: #ffb366;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 4px 4px 0 0;
  color: #363636;
  font-weight: 700;
  padding: 0.75em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#js .card-body {
  padding: 1em 1em;
  color: #4a4a4a;
}   
#js > h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-bottom: #222525 2px solid;
  font-size: 2.5em;
  color: #333;
  margin-bottom: -0.3em;
}

/* http page */
#http .card {
  background-color:#fff0f6 ;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  color: #363636;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}
#http .card-header {
  background-color: #ff66a3;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 4px 4px 0 0;
  color: #363636;
  font-weight: 700;
  padding: 0.75em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#http .card-body {
  padding: 1em 1em;
  color: #4a4a4a;
}
#http > h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-bottom: #222525 2px solid;
  font-size: 2.5em;
  color: #333;
  margin-bottom: -0.3em;
}

/* dom page */
#dom .card {
  background-color:#efe3ed;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  color: #363636;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}
#dom .card-header {
  background-color: #cc6bd7;
   border-bottom: 1px solid #dbdbdb;
  border-radius: 4px 4px 0 0;
  color: #363636;
  font-weight: 700;             
  padding: 0.75em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#dom .card-body {
  padding: 1em 1em;         
  color: #4a4a4a;
}
#dom > h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-bottom: #222525 2px solid;     
  font-size: 2.5em;
  color: #333;
  margin-bottom: -0.3em;
}

/* ai page */
#ai .card {
  background-color:#e7e5e4;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  color: #363636;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}
#ai .card-header {
  background-color: #57534d;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 4px 4px 0 0;
  color: #f1f5f9;
  font-weight: 700; 
  font-size: 1rem;            
  padding: 0.75em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#ai .card-body {
  padding: 1em 1em;         
  color: #4a4a4a;
}
#ai > h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-bottom: #222525 2px solid;     
  font-size: 2.5em;
  color: #333;
  margin-bottom: -0.3em;
}

